.uplifted-component {
  position: relative;

  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1); 
  background-color: #ffffff;
  border-radius: 8px; 
  padding: 20px; 
}

.job-list {
  padding: 0rem 9rem 9rem;

  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr)); 
  grid-gap: 3rem; 
  
}

.job-item {
  background-color: white; 
  padding: 20px;
  border-radius: 5px; 

  border-radius:1.5rem;
}

@media screen and (max-width: 768px) {
  .job-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  }
}

.apply-btn {
background-color: #54EFC4;
    width: 100%;
    height: 2.5rem;
 outline: none;
  border: none;
    border-radius: 0.5rem;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
.referral-btn {
    background-color: #4943DA;
    width: 100%;
    color:white;
    height: 2.5rem;
 outline: none;
  border: none;
    border-radius: 0.5rem;
    cursor: pointer;


}
 .view-button {
    background-color: transparent;
    color: #4943DA;
    outline: none;
    border: none;

}
.container {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  height:  15rem;
  width: 100%;
  
  overflow:hidden
}

a {
text-decoration: none;
}
.Filters {
    padding: 0 9rem 5rem;
    display: flex;


    flex-wrap: wrap;
}
#roles {
    margin-left: 0.5rem;
}
#location {
    margin-left: 0.5rem;
}
#pay {
    margin-left: 0.5rem;
}
#experience {
    margin-left: 0.5rem;
}
#total-strength {
    margin-left: 0.5rem;
}